<app-content-template (clicked)="openDialog()" [data]="shifts.data" [title]="'Shifts'">
  <table [dataSource]="shifts" class="content mat-elevation-z8" fxFill mat-table>
    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let shift" [style.width]="'60px'" mat-cell>
        <button (click)="openDialog(shift)" color="primary" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let shift" mat-cell> {{shift.name}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th *matHeaderCellDef mat-header-cell> Start Time</th>
      <td *matCellDef="let shift" mat-cell> {{shift.startTime | toTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th *matHeaderCellDef mat-header-cell> End Time</th>
      <td *matCellDef="let shift" mat-cell> {{shift.endTime | toTime}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</app-content-template>
